h2{
  color: green;
  font-size: 40px;
}

.cont{
  background-color: rgb(188, 196, 196);
}

button{
  background-color: rgb(255, 147, 15);
  color: rgb(19, 21, 16);
  font-size: large;
  border-color: rgb(0, 0, 0);
  border-radius: 20px;
  
}